@charset 'UTF-8';

html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
	width: 100%;
	top: 0;
	padding: 1.5em;
	position: fixed;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 8.5em;
	letter-spacing: .85em;
}

.intro {
	padding: 12em 6em;
}

.intro p {
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	color: #343144;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	line-height: 1.8;
	letter-spacing: .325em;
}

.footer-credit {
	float: right;
	width: 40%;
	text-align: right;
	position: relative;
}

.footer-disclaimer {
	float: left;
	width: 60%;
	position: relative;
}
